.notification-modal button{
    height: 66px;
    width: 66px;
    border-radius: 70px;
    border: none;    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.notif-cancel-button{
    background-color: var(--red);

}

.notif-validate-button{
    background-color: var(--validation);
}

.notif-button-frame{
    display: flex;
    flex-direction: row;
    gap: 62px;
}
.custom-modal-container{
    background:var(--primary) !important;
}

 .notification-modal{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
   padding-bottom: 52px;
    background-color: var(--primary);
    width: fit-content;
    border-radius: 12px;
    margin: auto;
}

.notification-modal h2{
    font-family: var(--body);
    color: var(--white);
    font-weight: 500;
} 