
/* Style de la page */
.create-user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color:var(--primary);/* Couleur du texte bleu */
    border-radius: 12px;
    height: 100vh; /* Pleine hauteur de la vue */
    padding: 2rem;
    margin-bottom: 200px; /* Ajoutez une marge en bas selon vos besoins */
  }
  
  /* Logo */
  .create-user-logo {
    max-width: 100%; /* Le logo ne dépassera pas la largeur parente */
    margin-top: 20px; /* Espacement en haut */
    margin-bottom: 20px; /* Espacement en bas */
  }
  /* Conteneur pour le bouton de retour et le libellé Entreprise */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 5px; /* Ajouter un espace en bas */
    padding-left: 30px;
    padding-right: 30px;

  }
  .back-button{
    width: 133px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 35px;
    background: var(--primary)!important;
    color:var(--white)!important;
  }

  /* Carte (Card) contenant le formulaire */
  .user-form-card {
    background-color:var(--primary); /* Couleur de fond bleue */
    padding: 20px; /* Marge interne */
    margin-bottom: 80px;
    border-radius: 8px; /* Coins arrondis */
    max-width: 400px; /* Largeur maximale du formulaire */
    width: 100%; /* Pour assurer la responsivité sur mobile */
  }
  
  /* Style des champs à remplir */
  .user-form-card label {
    text-align: left; /* Aligner le texte à gauche */
    display: block; /* Afficher chaque libellé sur une nouvelle ligne */
    margin-bottom: 5px; /* Ajouter un espace en bas entre les libellés */
    color: var(--white); /* Couleur du texte blanc */
  }
  
  .user-form-card input {
    background-color:var(--grey); /* Couleur de fond grise */
    color:var(--primary); /* Couleur du texte bleu */
    border: none; /* Supprimez les bordures */
    padding: 10px; /* Espace interne */
    margin-bottom: 15px; /* Marge en bas entre les champs */
    border-radius: 8px; /* Coins arrondis */
    width: 100%; /* Pour occuper toute la largeur du parent */
  }
  /* Champ Prénom et Nom côte à côte */
 .user-form-card .name-fields {
    display: flex;
    gap: 10px; /* Espace entre les champs */
  }
  
  .user-form-card .name-fields input {
    flex: 1; /* Utilisation du reste de l'espace disponible */
  }
  /* Boutons */
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Marge en haut */
  }
  
  /* Bouton Supprimer */
  .delete-button {
    background-color:var(--red); /* Couleur de fond rouge */
    color: var(--white); /* Couleur du texte blanc */
  }
  
  /* Bouton Terminer */
  .finish-button {
    background-color:var(--validation); /* Couleur de fond verte */
    color:var(--white); /* Couleur du texte blanc */
  }
  