@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Karla:ital,wght@0,400;0,500;1,400&display=swap');

:root{

  /*===== Couleurs ====*/
  --primary: #025892;/*bleu du logo*/
  --primaryLight: #2671A4;
  --secondary: #008787;/*bleu-vert du logo*/
  --red: #DB162F;
  --validation: #049D2F;/*pour les boutons de validation*/
  --grey: #EBEBEB;/*header et footer*/
  --white: #FFFFFF;/*texte*/
  --black: #000000;/*texte*/

  /* ===== Fonts ==== */

  --body: 'Karla', sans-serif;
  --header: 'Kanit', sans-serif;
}

#root {
  max-width: 1280px;
  margin: auto;
}

*{
  box-sizing: border-box;
  font-family: var(--body);
  font-weight: 400;
}

h1{
  font-family: var(--header);
}

p{
  font-family: var(--body);
}